[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.31.0"
protobuf = "==4.25.3"
tables = "==3.9.2"

[dev-packages]

[requires]
python_version = "3.12"
